body {
  margin: 0;
}

/****************   Nav Section **********************/
nav {
	background-color: #111827;
  padding: 1 rem 2.5 rem;
  display: flex;
  justify-content: space-between
}

/***********************  Footer Section   **************************/
footer {
	background-color: #111827;
  padding: 1 rem 2.5 rem;
  display: flex;
  justify-content: center;
}

/*********** Splash Page ************************/
header {
  padding: 4rem 3rem;
  background-color: #0f172a;
  color: #ffffff;

  font-family: 'Inter', sans-serif;
}

header h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

header img {
  width: 220px;
  height: 220px;
  border: 4px solid #38bdf8;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.4);
}

.address {
  font-size: 0.9rem;
  color: #94a3b8;
  letter-spacing: 0.05em;
  margin-top: 0.5rem;
}

.tagline {
  font-size: 1.25rem;
  font-weight: 500;
  color: #e2e8f0;
  margin-top: 1rem;
  max-width: 450px;
}

/************* Sections ********************/
hr {
  border: none;
  border-top: 2px solid #e5e7eb;
  margin: 2rem 0;
}

section h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #1e40af;
  margin-bottom: 1rem;
  border-bottom: 2px solid #1e40af;
  padding-bottom: 0.25rem;
  }

section dl {
  display: grid
}

section ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

section a {
  color: #0066CC;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: .5px;
  object-fit: cover;
}

.card {
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.4);
  outline-width: 4px;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;
    }

    .three-col {
      grid-template-columns: 1fr;
      gap: 2rem;
      align-items: center;
    }
}

/**************   Contact Page   *****************/
.one-col {
  max-width: max-content;
  display: flex;
  background-color: #f9fafb;
  flex-direction: column;
  gap: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem, 1rem;
  font-size: 1rem;
  border: 1px solid #d1d5db;
  font-family: 'Inter', sans-serif;
}

textarea {
  width: 100%;
  padding: 0.5rem, 1rem;
  font-size: 1rem;
  border: 1px solid #d1d5db;
  font-family: 'Inter', sans-serif;
}